<div class="tsz-content-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div ng-if="authenticated">
            <div class="tsz-nav-container">
              <ul class="nav nav-pills">
                <li ng-class="{active: $state.includes('app.project')}">
                  <a ui-sref="app.project">Projects</a>
                </li>
                <li ng-class="{active: $state.includes('app.employee')}">
                  <a ui-sref="app.employee">Employees</a>
                </li>
                <li ng-class="{active: $state.includes('app.timesheet')}">
                  <a ui-sref="app.timesheet({userId: loggedInUser._id})">Timesheets</a>
                </li>
              </ul>
            </div>  
          </div>
        </div>

        <div class="col-xs-6">
          <div class="pull-right">
            <h2>
              <small>{{$state.current.data.section}}</small>
            </h2>
          </div>
        </div>
      </div>  
    </div>

    <div class="row">
      <div class="col-xs-12">
        <hr/> 
      </div>
    </div>

    <div ui-view></div>
  </div>
</div>
