<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Lecture 10 - Animations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="Lecture 10 - Animations">
    <link href="/angular-training/assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="/angular-training/assets/js/angular.js"></script>
    <script type="text/javascript">
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '/angular-training/assets/css/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
      
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="opi-logo"></div>
      <div class="slides">
        <section data-state="index-slide" class="index-section">
          <div class="sliding-image-container"><img src="/angular-training/assets/img/angular.png" class="animate-logos angular"><img src="/angular-training/assets/img/grunt-logo.png" class="animate-logos grunt"><img src="/angular-training/assets/img/yeoman-logo.png" class="animate-logos yeoman"><img src="/angular-training/assets/img/node-logo.png" class="animate-logos node"><img src="/angular-training/assets/img/bower-logo.png" class="animate-logos bower"></div>
          <div class="fading-header-container">
            <h1 class="animate-headers angular">Angular.js</h1>
            <h1 class="animate-headers grunt">Grunt.js</h1>
            <h1 class="animate-headers yeoman">Yeoman</h1>
            <h1 class="animate-headers node">Node.js</h1>
            <h1 class="animate-headers bower">Bower.js</h1>
          </div>
          <h3>Animations</h3>
          <h4>Lecture 10</h4>
        </section>
        <section>
          <h1>Lab Nine</h1>
          <h2>Solution</h2>
        </section>
        <section>
          <h1>Animations</h1>
        </section>
        <section>
          <p>AngularJS provides hooks for animations on common directives such as ngRepeat, ngSwitch, and ngView.</p>
        </section>
        <section>
          <p>Animation hooks are in place to trigger animations during the life cycle of provided directives.</p>
        </section>
        <section>
          <p>When they're triggered, they'll attempt to perform a CSS animation or JavaScript callback animation depending on which is defined.</p>
        </section>
        <section>
          <p>First, lets take a look at the documentation for &nbsp;<a href="https://docs.angularjs.org/api/ngAnimate" target="_blank">ngAnimate</a></p>
        </section>
        <section>
          <h2>Using Animations</h2>
        </section>
        <section>
          <p>Since Angular is designed to be modular, you'll first need to specify the ngAnimate module as a dependency.</p><br>
          <div class="text-center">
            <pre><code data-trim>
angular.module('app', ['ngAnimate'])

</code>
</pre>
          </div>
        </section>
        <section>
          <p>As we saw in the documentation for ngAnimate, we can apply animations to our elements by defining CSS classes that that tell the browser how to animate an element.</p>
        </section>
        <section>
          <p>The $animate service automatically adds and removes these classes for us at the right time.</p>
        </section>
        <section>
          <p>An example set of CSS animations for ngShow are shown below</p><br>
          <pre><code class="css" data-trim>
.ng-hide-add, .ng-hide-remove {
  transition: all linear 1.0s;
  display: block !important;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove {
  opacity: 0;
}

.ng-hide-add,
.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

</code>
</pre>
          <p>Which elements are these animations going to be applied to?</p>
        </section>
        <section>
          <p>All elements that use the ngShow directive.</p>
          <p>This is because these class names are used for all the ngShow elements.</p>
        </section>
        <section>
          <p>We can scope these animations by making the class definitions more descriptive.</p><br>
          <pre><code class="css" data-trim>
.my-class.ng-hide-add, .my-class.ng-hide-remove {
  transition: all linear 1.0s;
  display: block !important;
}

.my-class.ng-hide-add.ng-hide-add-active,
.my-class.ng-hide-remove {
  opacity: 0;
}

.my-class.ng-hide-add,
.my-class.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

</code>
</pre>
          <p>Notice here that these animations will only be applied to elements that have the CSS class "my-class".</p>
        </section>
        <section id="example1" ng-controller="Lecture10Controller">
          <button ng-click="sayHello = !sayHello">Say Hello</button>
          <p ng-show="sayHello" class="example-1">Hello World!</p>
        </section>
        <section>
          <p>If we add the animation classes for ng-repeat, we can animate lists as they change.</p><br>
          <pre><code class="css" data-trim>
.repeated-item.ng-move,
.repeated-item.ng-enter,
.repeated-item.ng-leave {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s;
}

.repeated-item.ng-leave.ng-leave-active,
.repeated-item.ng-move,
.repeated-item.ng-enter {
  opacity: 0;
  max-height: 0;
}

.repeated-item.ng-leave,
.repeated-item.ng-move.ng-move-active,
.repeated-item.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}

</code>
</pre>
        </section>
        <section id="example2" ng-controller="Lecture10Controller">
          <button ng-click="pushTime()">Push Time</button>
          <button ng-click="popTime()">Pop Time</button><br><br>
          <div ng-repeat="time in times" class="repeated-item">{{time | date:'h:mm:ss.sss a'}}</div>
        </section>
        <section>
          <h1>Lab Ten</h1>
          <h2>Animations</h2>
        </section>
        <section>
          <p>In this lab, you're going to add animations to the employee, timesheet, and project lists.</p>
        </section>
        <script>
          angular.module('lecture10', ['ngAnimate']).controller('Lecture10Controller', function($scope) {
            $scope.times = [];
            
            $scope.pushTime = function() {
              $scope.times.push(new Date());
            };
            
            $scope.popTime = function() {
              $scope.times.shift();
            };
            
            
            $scope.sayHello = false;
          });
          
          angular.bootstrap(document.getElementById("example1"), ["lecture10"]);
          angular.bootstrap(document.getElementById("example2"), ["lecture10"]);
        </script>
      </div>
    </div>
    <script src="/angular-training/assets/js/app.js"></script>
  </body>
</html>