<div class="row rez-admin-properties-detail" ng-show="$state.is('admin.seasons.create')">
  <div class="col-xs-12">
    <form class="form-horizontal" novalidate name="createSeason">
      
      <div rezr-form-section-header header="Season Information"></div>

      <div class="form-group">
        <div rezr-field-wrap input-id="season-name" label="Season Name">
          <input type="text" class="form-control" 
            name="season-name" placeholder="Season Name"
            ng-model="season.name">
        </div>
      </div>
      
      <div class="form-group">
        <div rezr-field-wrap input-id="season-start-date" label="Start Date">
          <div class="input-group"> 
            <input type="text" class="form-control" rezr-datepicker-popup="MM/dd/yyyy" ng-model="season.startDate" show-weeks="false" placeholder="Start Date"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div rezr-field-wrap input-id="season-end-date" label="End Date">
          <div class="input-group">
            <input type="text" class="form-control" rezr-datepicker-popup="MM/dd/yyyy" ng-model="season.endDate" show-weeks="false" placeholder="End Date"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div rezr-field-wrap input-id="season-state" label="State">
          <input type="text" class="form-control" 
            name="season-state" placeholder="State"
            ng-model="season.seasonState.name">
        </div>
      </div>
  
      <hr/>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="create()" ng-disabled="createSeason.$invalid">Create</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
          </div>
      </div>
    </form>
  </div>
</div>
