<div class="row rez-color-picker">
  <div class="col-sm-4">
    <div farbtastic="color.wheel" has-focus="setControlFocus('wheel')"></div>
  </div>
  <div class="col-sm-1 rez-color-swatch">
    <div class="well" color-picker-swatch="color.wheel"></div>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">R</span>
                <input class="form-control" type="number" min="0" max="255" 
                  ng-model="color.rgb.red"
                  ng-focus="setControlFocus('rgb')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">H</span>
                <input class="form-control" type="number" min="0" max="360" 
                  ng-model="color.hsl.hue"
                  ng-focus="setControlFocus('hsl')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">C</span>
                <input class="form-control" type="number" min="0" max="100"
                  ng-focus="setControlFocus('cmyk')" 
                  ng-model="color.cmyk.cyan"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">G</span>
                <input class="form-control" type="number" min="0" max="255"
                  ng-model="color.rgb.green"
                  ng-focus="setControlFocus('rgb')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">S</span>
                <input class="form-control" type="number" min="0" max="100"
                  ng-model="color.hsl.saturation"
                  ng-focus="setControlFocus('hsl')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">M</span>
                <input class="form-control" type="number" min="0" max="100"
                  ng-focus="setControlFocus('cmyk')" 
                  ng-model="color.cmyk.magenta"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">B</span>
                <input class="form-control" type="number" min="0" max="255" 
                  ng-model="color.rgb.blue"
                  ng-focus="setControlFocus('rgb')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">L</span>
                <input class="form-control" type="number" min="0" max="100" 
                  ng-model="color.hsl.lightness"
                  ng-focus="setControlFocus('hsl')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">Y</span>
                <input class="form-control" type="number" min="0" max="100"
                  ng-focus="setControlFocus('cmyk')" 
                  ng-model="color.cmyk.yellow"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col-xs-8">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">HEX</span>
                <input class="form-control" type="text"
                  ng-model="color.hex"
                  ng-focus="setControlFocus('hex')"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">K</span>
                <input class="form-control" type="number" min="0" max="100"
                  ng-focus="setControlFocus('cmyk')" 
                  ng-model="color.cmyk.black"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
