<div class="row rez-color-picker-popover">
  <div class="col-xs-12">
    <div class="rez-color-picker-popover-arrow"></div>
    <div class="panel panel-default rez-color-picker-panel">
      <div class="panel-heading">
        <div class="pull-left">
          <h3 class="panel-title">Color Picker</h3>
        </div>
        <div class="pull-right">
          <button class="btn btn-sm btn-default close-color-picker"><i class="icon-remove"></i></button>
        </div>
      </div>
      <div class="panel-body">
        <div color-picker="inputModel"></div>
      </div>
    </div>
  </div>
</div>