<ul class="dropdown-menu rez-topnav-dropdown" ng-show="user.authenticated">
  <li class="user-label">{{user.username}}</li>
  <li ng-repeat="dropdownItem in item.dropdown">
    <div ng-if="dropdownItem.href">
      <a ng-href="{{dropdownItem.href}}">
        <i class="icon-{{dropdownItem.icon}} icon-large"></i> {{dropdownItem.title}}
      </a>
    </div>
    <div ng-if="dropdownItem.click">
      <a ng-click="{{dropdownItem.click}}()">
        <i class="icon-{{dropdownItem.icon}} icon-large"></i> {{dropdownItem.title}}
      </a>
    </div>
  </li>
</ul>
