<div class="navbar navbar-default navbar-static-top">
  <div class="side-nav-toggle">
    <ul class="nav navbar-nav pull-left side-nav-trigger">
      <li ng-class="sideNavOpen ? 'active' : ''" ng-click="expandSideClicked()" >
        <a class="rez-nav-icon">
          <i class="icon-reorder icon-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand large" ng-click="$state.go('login')">
    <i class="icon-opi-logo pull-left"></i>
    <div class="rez-brand-title-text pull-right">Rezr</div>
  </a>
  <a class="navbar-brand small" ng-href="#">
    <i class="icon-opi-logo"></i>
  </a>
  
  <ul class="nav navbar-nav pull-right">
    <div ng-repeat="item in quickViewItems" quickview-topnav-item item="item" selected="selected" />
    <div ng-repeat="item in linkItems" links-topnav item="item" user="getUser()"/>
  </ul>
   
</div>