doctype html
include includes/mixins

+page("AngularJS Training")
  section.index-page
    h2 AngularJS Training
    h4 Slides
    ul
      li
        a(href="lectures/intro.html", target="_blank") Intro
    ol
      li
        a(href="lectures/lecture-01.html", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html", target="_blank") Angular Bootcamp
      li
        a(href="lectures/lecture-03.html", target="_blank") Karma
      li
        a(href="lectures/lecture-04.html", target="_blank") Routing and Resources
      li
        a(href="lectures/lecture-05.html", target="_blank") UI Router
      li
        a(href="lectures/lecture-06.html", target="_blank") Promises and Interceptors

    ol(start="7")
      li
        a(href="lectures/lecture-07.html", target="_blank") Factories and Providers
      li
        a(href="lectures/lecture-08.html", target="_blank") Directives
      li
        a(href="lectures/lecture-09.html", target="_blank") Filters
      li
        a(href="lectures/lecture-10.html", target="_blank") Animation
      li
        a(href="lectures/lecture-11.html", target="_blank") Protractor

  section.index-page
    h2 AngularJS Training
    h4 Printable Slides
    ul
      li
        a(href="lectures/intro.html?print-pdf", target="_blank") Intro
    ol
      li
        a(href="lectures/lecture-01.html?print-pdf", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html?print-pdf", target="_blank") Angular Bootcamp
      li
        a(href="lectures/lecture-03.html?print-pdf", target="_blank") Karma
      li
        a(href="lectures/lecture-04.html?print-pdf", target="_blank") Routing and Resources
      li
        a(href="lectures/lecture-05.html?print-pdf", target="_blank") UI Router
      li
        a(href="lectures/lecture-06.html?print-pdf", target="_blank") Promises and Interceptors

    ol(start="7")
      li
        a(href="lectures/lecture-07.html?print-pdf", target="_blank") Factories and Providers
      li
        a(href="lectures/lecture-08.html?print-pdf", target="_blank") Directives
      li
        a(href="lectures/lecture-09.html?print-pdf", target="_blank") Filters
      li
        a(href="lectures/lecture-10.html?print-pdf", target="_blank") Animation
      li
        a(href="lectures/lecture-11.html?print-pdf", target="_blank") Protractor
