doctype html
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title UP Lunch and Learn
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="UP Lunch and Learn")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .opi-logo
      .slides
        section.index-section(data-state="index-slide")
          .sliding-image-container
            img.animate-logos.angular(src="assets/img/angular.png")
            img.animate-logos.grunt(src="assets/img/grunt-logo.png")
            img.animate-logos.yeoman(src="assets/img/yeoman-logo.png")
            img.animate-logos.node(src="assets/img/node-logo.png")
            img.animate-logos.bower(src="assets/img/bower-logo.png")
          .fading-header-container
            h1.animate-headers.angular Angular.js
            h1.animate-headers.grunt Grunt.js
            h1.animate-headers.yeoman Yeoman
            h1.animate-headers.node Node.js
            h1.animate-headers.bower Bower.js
          p.
            JavaScript Application Development with AngularJS

        section
          h1
            i.icon-github
          p These slides are up on GitHub!
          a(href="http://mrkelly.github.io/up-angular", target="_blank") mrkelly/up-angular

        section
          section
            h2 Today's Objective
            p Share our experience building a production application using Angular JS
            p Many of the topics covered are universal to any JS dev
            p We love questions, don't be shy..you cannot derail us (challenge)

          section
            h2 About Us
            p We are NOT experts, just write a ton of code.

            ul
              li Mike Kelly
                a(href="https://twitter.com/mikerkelly", target="_blank") (@mikerkelly)
              li Bruce Coddington
                a(href="https://twitter.com/brucecoddington", target="_blank") (@brucecoddington)

            small We're ALL noobs

        section
          h2 Let's Get Started!
          p
            a(href="lecture_01.html") Lecture 1 : Project Layout
            
    script(src="./assets/js/app.js")
