<div class="container rez-quickview-list-item">
  <div ng-repeat="message in messages" class="row item" ng-click="closeQuickNav()" navigate-to-on-click="'/system/messages/' + message.id" >
    <div class="row">
      <div class="col-xs-2 icon">
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class="icon-envelope-alt icon-light"></i>
        </span>
      </div>
      <div class="col-xs-7 title">
        <strong>{{message.title}}</strong>
      </div>
      <div class="col-xs-3 time">
        <div>{{message.time | momentFromNow}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 subject">
        {{message.message}}
      </div>
    </div>
  </div>
</div>
