<div class="tsz-navbar-container">
  <div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-clock-o"></i>
        {{$state.current.data.title}}
      </a>
    </div>
    <div ng-if="authenticated">
      <div class="nav navbar-nav navbar-right">
        <a class="navbar-brand" ng-click="logout()">  
          <i class="fa fa-user"></i>
          Logout
        </a>
      </div>
    </div>
  </div>
</div>