doctype html
include ../includes/mixins
- var title = "AngularJS Training"

+page(title)
  +title-page(title)
  section
    h1
      i.icon-github
    p These slides are up on GitHub!
    a(href="http://mrkelly.github.io/up-angular", target="_blank") mrkelly/up-angular