doctype html
include ../includes/mixins
- var title = "Introduction to AngularJS Training"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 Introduction to AngularJS Training

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/objectpartners/angular-training", target="_blank") objectpartners/angular-training

  section
    h2 Introductions
    ul
      li Mike Kelly
        a(href="https://twitter.com/mikerkelly", target="_blank") (@mikerkelly)
      li Bruce Coddington
        a(href="https://twitter.com/brucecoddington", target="_blank") (@brucecoddington)

  section
    h2 Training Objectives
    ul
      li Share our experience building a production application using Angular JS
      li Many of the topics covered are universal to any JS dev
      li We love questions, don't be shy..you cannot derail us

  section
    section
      h1 Topics

    section
      h2 Day 1
      ul
        li Project setup and build tools
        li Angular bootcamp
        li Setup up Karma
        li Angular Modules and Router
        li List pages implemented and tested

    section
      h2 Day 2
      ul
        li Angular UI Router
        li Add detail and create views to Timesheetz
        li Promises and $q
        li Factories and Providers

    section
      h2 Day 3
      ul
        li Custom directives
        li Filters
        li Animation
        li Protractor and E2E Testing
        li Deployment

  section
    h1 Format
