doctype html
include ../includes/mixins
- var title = "Introduction to AngularJS Training"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 Introduction to AngularJS Training

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/objectpartners/angular-training", target="_blank") objectpartners/angular-training

  section
    h2 Introductions
    ul
      li Mike Kelly
        a(href="https://twitter.com/mikerkelly", target="_blank")  (@mikerkelly)
      li Bruce Coddington
        a(href="https://twitter.com/brucecoddington", target="_blank")  (@brucecoddington)
      li Jeff Sheets
        a(href="https://twitter.com/sheetsj", target="_blank")  (@sheetsj)
      li Travis Martensen
        a(href="https://twitter.com/tmartensen", target="_blank")  (@tmartensen)
      li Scott Bock
        a(href="https://twitter.com/lscottbock", target="_blank")  (@lscottbock)


  section
    h2 Training Objectives
    ul
      li Share our experience building a production application using Angular JS
      li Many of the topics covered are universal to any JS dev
      li We love questions, don't be shy..you cannot derail us

  section
    h1 Topics

  section
    h2 Day 1
    ul
      li Project Setup and Build Tools
      li Angular Bootcamp, Controllers, and Scope
      li Karma and Unit Testing
      li Angular Modules, Resources, and Router

  section
    h2 Day 2
    ul
      li Angular UI Router
      li Promises and Interceptors
      li Factories and Providers

  section
    h2 Day 3
    ul
      li Custom Directives
      li Filters
      li Animation
      li Protractor and E2E Testing
      li Deployment

  section
    h2 Format
    ul
      li Lecture
      li Collaborative Live Coding
      li Individual Labs
      li Repeat

  section
    h1 The Lab

  section
    h2 Timesheetz
    p We will build a fully-functioning AngularJS application together over the next three days.
    p It is an application for tracking and updating timesheets. Woot Woot.

  section
    h2 Teammates
    ul
      li
        strong Designers
        | : Will provide styles and page designs.
      li
        strong Server Team
        | : Provide a REST Api and NodeJs application server.
      li
        strong Product Owners
        | : Provide us with requirements along the way.
      li
        strong Front End Team
        | : This is all of us and we are awesome!
