doctype html
include ../includes/mixins

+page("Lecture 03 - Karma and Unit Testing")
  +lecture-title-page("Karma and Unit Testing", "Lecture 03")

  section
    section
      h1 Lab 02
      h2 Solution

  section
    section
      h1 Unit Testing
    section
      h2

  section
    section
      h1 Angular Mocks
    section
      h2