doctype html
include ../includes/mixins

+page("Lecture 05 - UI Router")
  +lecture-title-page("UI Router", "Lecture 05")

  section
    section
      h1 Lab 04
      h2 Solution

  section
    section
      h1 Routing
    section
      h2

  section
    section
      h1 States
    section
      h2

  section
    section
      h1 Controller Interitance
    section
      h2