doctype html
include ../includes/mixins

+page("Lecture 07 - Factories and Providers")
  +lecture-title-page("Factories and Providers", "Lecture 07")

  section
    section
      h1 Lab 06
      h2 Solution

  section
    section
      h1 Factories
    section
      h2

  section
    section
      h1 Providers  
    section
      h2