doctype html
include ../includes/mixins

+page("Lecture 08 - Directives")
  +lecture-title-page("Directives", "Lecture 08")

  section
    section
      h1 Lab 07
      h2 Solution

  section
    section
      h1 Directives
    section
      h2