doctype html
include ../includes/mixins

+page("Lecture 04 - Modules, Controllers, Resources, and Scope")
  +lecture-title-page("Modules, Controllers, Resources, and Scope", "Lecture 04")

  section
    section
      h1 Lab 03
      h2 Solution

  section
    section
      h1 Modules
    section
      h2

  section
    section
      h1 Controllers
    section
      h2

  section
    section
      h1 Binding
    section
      h2