doctype html
include ../includes/mixins

+page("Lecture 09 - Filters")
  +lecture-title-page("Filters", "Lecture 09")

  section
    section
      h1 Lab 08
      h2 Solution

  section
    section
      h1 Filters
    section
      h2