doctype html
include ../includes/mixins

+page("Lecture 10 - Animations")
  +lecture-title-page("Animations", "Lecture 10")

  section
    section
      h1 Lab 09
      h2 Solution

  section
    section
      h1 Animations
    section
      h2