doctype html
include ../includes/mixins

+page("Lecture 06 - Promises and Interceptors")
  +lecture-title-page("Promises and Interceptors", "Lecture 06")

  section
    section
      h1 Lab 05
      h2 Solution

  section
    section
      h1 Promises
    section
      h2

  section
    section
      h1 Deferred  
    section
      h2

  section
    section
      h1 Interceptors
    section
      h2