doctype html
include ../includes/mixins

+page("Lecture 12 - Project Assembly and Production Deployment")
  +lecture-title-page("Project Assembly and Production Deployment", "Lecture 12")

  section
    section
      h1 Lab 11
      h2 Solution

  section
    section
      h1 Project Assembly
    section
      h2 