doctype html
include ../includes/mixins

+page("Lecture 11 - E2E Testing with Protractor")
  +lecture-title-page("E2E Testing with Protractor", "Lecture 11")

  section
    section
      h1 Lab 10
      h2 Solution

  section
    section
      h1 E2E Testing
    section
      h2

  section
    section
      h1 Protractor
    section
      h2