doctype html
include ../includes/mixins

+page("Lecture 07 - Factories and Providers")
  +lecture-title-page("Factories and Providers", "Lecture 07")

  section
    h1 Lab Six
    h2 Solution

  section
    h1 Factories

  section
    h1 Providers
