doctype html
include ../includes/mixins
- var title = "Finishing up AngularJS Training"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 Finishing up AngularJS Training

  section
    section
      h1 Lab 12
      h2 Solution