<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" novalidate name="propertiesCreate">
      <div class="row">
        <div class="col-sm-6">
          <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
        <div class="col-sm-6">

          <div rezr-form-section-header header="Reserve Time"></div>

          <div class="form-group">
            <div rezr-field-wrap input-id="reservation-start-date" label-col="4" field-col="8" label="Start Date">
              <div class="input-group"> 
                <input type="text" class="form-control" rezr-datepicker-popup="MM/dd/yyyy" ng-model="reservation.startDate" show-weeks="false" placeholder="Start Date"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <i class="icon-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div rezr-field-wrap input-id="reservation-end-date" label-col="4" field-col="8" label="End Date">
              <div class="input-group">
                <input type="text" class="form-control" rezr-datepicker-popup="MM/dd/yyyy" 
                ng-model="reservation.endDate" show-weeks="false" placeholder="End Date"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <i class="icon-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr/>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="update()" ng-disabled="propertiesCreate.$invalid">Reserve</button>
                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div ui-view></div>


          