<div class="row rez-inheritance-popover-content">
  <div class="col-xs-12">
    <div class="row data-row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <strong>Inherited From</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">{{inheritanceModel.organization}}</div>
        </div>
      </div>
    </div>
    <div class="row data-row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <strong>Changed By</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">{{inheritanceModel.changedBy}}</div>
        </div>
      </div>
    </div>
    <div class="row data-row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <strong>Date Changed</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">{{inheritanceModel.dateChanged}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


