// This container wraps all the page content
.tsz-page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//This contains the nav bars for the main content, side nav, and quick view
//Sibling to the content container
.tsz-navbar-container {
  position: absolute;
  top: 0;
  right:0;
  left:0;
  .transition(~"all 0.3s ease-in-out");
  backface-visibility: hidden;
  perspective: 1000;
}

// This contains the nav pills for the top of the page
.tsz-nav-container {
  padding-top: 22px;
}

// This contains the page content (other than the nav bars)
// Includes, side nav, content views, and quick view
.tsz-content-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  .transition(~"all 0.3s ease-in-out");
  backface-visibility: hidden;
  perspective: 1000;
}

// Hidden until the tsz-authenticated-user class is applied
.tsz-view-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  .transition(~"left 0.3s ease-in-out");
}

// A background for the login page that lives inside the content container
.tsz-login-background {
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  font-size: 100em;
  text-align: center;
  color: #fafafa;
}

// Center the pagination
.tsz-pagination-container {
  text-align: center;
}