!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title(ng-bind-template="Rezr") Cabin Reservation System
    base(href="/")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    meta(name="description", content="OPI's Cabin and Condo Reservation Systm")

    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:type", content="")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    - if (env == 'production')
      link(href="/assets/css/style.min.css", rel="stylesheet", type="text/css")
    - else
      link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

    link(rel="apple-touch-icon", href="/assets/img/apple-app-icon.png")

    body
      .rez-page-container(ng-class="{'rez-quick-view-open':pushLeft, 'rez-side-nav-open':pushRight, 'rez-authenticated-user': authenticatedUser}", ng-cloak, ng-controller="MainController")
        .rez-navbar-container
          .rez-side-nav-navbar
            .navbar.navbar-default.navbar-static-top
          .rez-main-navbar(topnav)
          .rez-quick-view-navbar(quickview-nav)
        .rez-content-container
          .rez-login-background(ng-show="!authenticatedUser")
            i.icon-opi-logo
          .rez-side-nav-container(sidenav, items="items")
          .rez-view-container(swipe-left="contentSwipeLeft($event)", swipe-right="contentSwipeRight($event)")
            .container
              .ui-view
          .rez-quick-view-container(quickview)
            
    include ../templates/scripts