input {
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
  padding: 0.5em 0.6em;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.reveal em, .reveal i {
  font-style: inherit;
}

.reveal {
  section {
    img {
      &.no-style {
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
}
.reveal {
  .text-center {
    pre {
      text-align: center;
    }
  }
}

.reveal ul.icons-ul {
  list-style-type: none;
}

.index-page {
  .title-image-container {
    position: relative;
    width: auto;
    height: 256px;
    img {
      &.angular {
        width: 256px;
        height: 256px;
        border: none;
        background: none;
        box-shadow: none;
      }
    }
  }
}

.index-section {
  .sliding-image-container {
    position: relative;
    width: auto;
    height: 256px;
    margin-bottom: 30px;
  }

  .fading-header-container {
    position: relative;
    width: auto;
    height: auto;
    margin-top: -30px;
    h1 {
      position: absolute;
      margin-top: 10px;
      left: 0;
      right: 0;
      opacity: 0;
    }
  }

  h2, h3, p {
    padding-top: 200px;
  }

  img {
    &.angular,
    &.grunt,
    &.yeoman,
    &.bower {
      position:absolute;
      margin-left: 2000px;
      width: 256px;
      height: 256px;
      border: none;
      background: none;
      box-shadow: none;
    }
    &.node {
      position:absolute;
      margin-left: 2000px;
      top: 100px;
      width: 512px;
      height: 131px;
      border: none;
      background: none;
      box-shadow: none;
    }
  }
}

.index-slide {

  .animate-logos {
    &.angular {
      -webkit-animation: anuglarlogo 20s infinite ease;
    }
    &.grunt {
      -webkit-animation: gruntlogo 20s infinite ease;
    }
    &.node {
      -webkit-animation: nodelogo 20s infinite ease;
    }
    &.bower {
      -webkit-animation: bowerlogo 20s infinite ease;
      -webkit-animation-delay: 1s;
    }
  }

  .animate-headers {
    &.angular {
      -webkit-animation: anuglarheader 20s infinite ease;
    }
    &.grunt {
      -webkit-animation: gruntheader 20s infinite ease;
    }
    &.node {
      -webkit-animation: nodeheader 20s infinite ease;
    }
    &.bower {
      -webkit-animation: bowerheader 20s infinite ease;
      -webkit-animation-delay: 1s;
    }
  }
}

@-webkit-keyframes anuglarlogo {

  0% {
    margin-left: 2000px;
  }

  5% {
    margin-left: -128px;
  }

  25% {
    margin-left: -128px;
  }

  30% {
    margin-left: -2000px;
  }

  100% {
    margin-left: -2000px;
  }

}

@-webkit-keyframes gruntlogo {

  0% {
    margin-left: 2000px;
  }

  25% {
    margin-left: 2000px;
  }

  30% {
    margin-left: -128px;
  }

  50% {
    margin-left: -128px;
  }

  55% {
    margin-left: -2000px;
  }

  100% {
    margin-left: -2000px;
  }

}

@-webkit-keyframes nodelogo {

  0% {
    margin-left: 2000px;
  }

  50% {
    margin-left: 2000px;
  }

  55% {
    margin-left: -242px;
  }

  75% {
    margin-left: -242px;
  }

  80% {
    margin-left: -2000px;
  }

  100% {
    margin-left: -2000px;
  }

}

@-webkit-keyframes bowerlogo {

  0% {
    margin-left: 2000px;
  }

  75% {
    margin-left: 2000px;
  }

  80% {
    margin-left: -128px;
  }

  95% {
    margin-left: -128px;
  }

  100% {
    margin-left: -2000px;
  }

}


@-webkit-keyframes anuglarheader {

  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes gruntheader {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes nodeheader {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes bowerheader {

  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
